* {
  margin: 0;
  padding: 0;
}

:root {
  --app-main-color: hsl(0, 0%, 6%);
  --nav-main-color: hsl(0, 0%, 4%);
  --text-main-color: hsl(0, 0%, 75%);
  --text-main-font: 'Lato', sans-serif;
  --bg-input-search: hsl(0, 0%, 85%);
  --secundary-color: hsla(240, 50%, 88%, 0.9);
  --top-gradient-color: hsla(240, 50%, 88%, 0.35);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--text-main-font);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--app-main-color);
  color: var(--text-main-color);
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--top-gradient-color);
  border-radius: 10px;
}

#root {
  background-color: var(--app-main-color);
  background-image: linear-gradient(to bottom, var(--top-gradient-color) 0 0.5%, var(--app-main-color) 10% 100%);
} 

.container {
  display:  flex;
}

.home-container {
  width: 100%;
}

.home-header {
  padding: 10px;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container, .asidebar-container {
  background-color: var(--nav-main-color);
  width: 250px;
}

.nav-items-container {
  display: flex;
  flex-direction: column;
  padding: 60px 0 30px 30px;
  gap: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  color: var(--text-main-color);
  text-decoration: none;
  border-radius: 15px 0 0 15px;
  padding: 5px;
}

.nav-item:hover, .navHome, .navSearch, .navGenres {
  background-color: var(--text-main-color);
  color: var(--nav-main-color);
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  color: var(--app-main-color);
  font-weight: 100;
}

.search {
  background-color: var(--bg-input-search);
  border: none;
  border-radius: 15px;
  padding: 5px;
  padding-left: 25px;
}

input:focus {
  outline: none;
}

.music-container {
  width: 100%;
  height: 100vh;
}

.music-header {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.music-content {
  display: flex;
  justify-content: center;
}

.music-content iframe {
  height: 380px;
  border-radius: 15px;
}

.music-list-container > h1 {
  text-align: center;
  margin-bottom: 25px;
}

.music-list {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  align-items: end;
}

.topmusic-card-container {
  display: flex;
  justify-content: center;
}

.topmusic-card {
  display: flex;
  gap: 10px;
  align-items: stretch;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 25%, 1), hsla(0, 0%, 25%, 0.5));
  width: 95%;
  border-radius: 15px;
  position: relative;
  height: 155px;
}

.topmusic-card:hover {
  background-image: linear-gradient(to bottom, hsla(0, 0%, 25%, 1), hsla(0, 0%, 25%, 0.4));
}

.topmusic-card .play-icon {
  top: 8px;
  right: 8px;
  position: absolute;
  transform: scale(1.2);
  color: var(--secundary-color);
  box-shadow: none;
}

.topmusic-card .play-icon:hover {
  cursor: pointer;
}

.topmusic-card-link {
  color: var(--text-main-color);
}

.topmusic-card-link img {
  width: 155px;
  height: 155px;
}

.topmusic-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.topmusic-content img {
  border-radius: 15px;
}

@media (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .nav-container {
    width: 100%;
  }

  .nav-items-container {
    padding: 20px;
    flex-direction: row;
    justify-content: center;
  }

  .asidebar-container {
    display: none;
  }
}
