* {
  margin: 0;
  padding: 0;
}

:root {
  --app-main-color: hsl(0, 0%, 6%);
  --nav-main-color: hsl(0, 0%, 4%);
  --text-main-color: hsl(0, 0%, 75%);
  --text-main-font: 'Lato', sans-serif;
  --bg-input-search: hsl(0, 0%, 85%);
  --secundary-color: hsla(240, 50%, 88%, 0.9);
  --top-gradient-color: hsla(240, 50%, 88%, 0.35);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--text-main-font);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--app-main-color);
  color: var(--text-main-color);
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--top-gradient-color);
  border-radius: 10px;
}

#root {
  display:  grid;
  grid-template-columns: minmax(160px, 1fr) 8fr minmax(160px, 1fr);
  min-height: 100vh;
  background-color: var(--app-main-color);
  background-image: linear-gradient(to bottom, var(--top-gradient-color) 0 0.5%, var(--app-main-color) 10% 100%);
} 

.main-container {
  margin: 1.2rem 0 1.2rem;
  min-height: 100vh;
}

.main-header {
  font-size: 15px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-container {
  background-color: var(--nav-main-color);
}

.nav-items {
  display: flex;
  flex-direction: column;
  padding: 60px 0 30px 30px;
  gap: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  color: var(--text-main-color);
  text-decoration: none;
  border-radius: 15px 0 0 15px;
  padding: 5px 10px 5px 5px;
}

.nav-item:hover, .navHome, .navSearch, .navGenres {
  background-color: var(--text-main-color);
  color: var(--nav-main-color);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  gap: 10px;
}

.header-container .main-header {
  margin: 0;
  padding: 0;
}

.genre-header {
  text-align: center;
  margin: 1rem 0 1rem;
}

.search-item {
  display: flex;
  align-items: center;
  position: relative;
}

.search-item input {
  border: none;
  border-radius: 15px;
  background-color: var(--bg-input-search);
  padding: 5px 5px 5px 23px;
}

.search-item input:focus {
  outline: none;
}

.search-item .search-icon {
  position: absolute;
  color: var(--app-main-color);
}

.home-content {
  display: flex;
  flex-direction: column;
}

.home-content > h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.music-list, .genre-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  align-items: end;
}

.music-header {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  gap: 10px;
  text-align: center;
}

.music-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.music-content iframe {
  border-radius: 15px;
}

.music-card-container, .genre-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-card-container {
  height: 155px;
}

.genre-card-container {
  height: 230px;
}

.genre-btn {
  all: unset;
  width: 95%;
  height: 95%;
}

.music-card, .genre-card {
  display: flex;
  gap: 10px;
  align-items: stretch;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 25%, 1), hsla(0, 0%, 25%, 0.5));
  width: 95%;
  height: 95%;
  border-radius: 15px;
  position: relative;
}

.genre-card {
  justify-content: space-between;
}

.music-card:hover, .genre-card:hover {
  background-image: linear-gradient(to bottom, hsla(0, 0%, 25%, 1), hsla(0, 0%, 25%, 0.4));
}

.music-card .play-icon {
  top: 8px;
  right: 8px;
  position: absolute;
  transform: scale(1.2);
  color: var(--secundary-color);
  box-shadow: none;
}

.music-card .play-icon:hover {
  cursor: pointer;
}

.music-card-link {
  color: var(--text-main-color);
}

.music-card-link img {
  width: 150px;
  height: 100%;
  border-radius: 15px;
}

.genre-card h2 {
  text-transform: capitalize;
  margin-left: 10px;
}

.genre-card span {
  padding: 15px;
}

.genre-card span:hover {
  cursor: pointer;
}

.music-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  margin-right: 15px;
  gap: 5px;
}

/* LoadingCircle */
.loading-container {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-circle {
  animation: rotating 1.5s infinite;
  height: 4rem;
  width: 4rem;
  border: 0.3rem solid var(--bg-input-search);
  border-top-color: var(--top-gradient-color);
  border-radius: 50%;
}

@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 1000px) {
  #root {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--top-gradient-color) 0% 10.5%, var(--app-main-color) 20% 100%);
  }

  .aside-container {
    width: 100%;
    height: 75px;
  }

  .music-content iframe {
    height: 20em;
  }

  .nav-items {
    padding: 20px;
    flex-direction: row;
    justify-content: center;
  }

  .nav-item {
    border-radius: 15px;
  }
}
